<div class="elementBorder size elementShadow" *ngIf="elementData.name " (click)="GetDetails()" [ngClass]="{'enter':hover ==true || selected}" [class]="elementData.category" (mouseover)="hover =true" (mouseleave)="hover=false">

  <div class="row smallfont">
    <label>{{elementData.number}}</label>

  </div>
  <div class="row text-center" >
    <h4 [ngClass]="{'symbolFont': elementData.symbol == '89-103'}"> {{elementData.symbol}}</h4>

  </div>
  <div class="row smallfont text-center">
<label>{{elementData.atomic_mass |number: '1.2-2'}}</label>
  </div>

</div>




