/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


.elementShadow{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.diatomic.nonmetal{
  background-color: red;
}

.alkali.metal{
  background-color: rgb(79, 89, 97);
}

.noble.gas{
  background-color: rgb(41, 141, 230);
}

.transition.metal{
  background-color: rgb(41, 201, 161);
}

.alkaline.earth.metal{
  background-color: rgb(170, 235, 195);
}

.metalloid{
  background-color: rgb(247, 0, 255);
}

.polyatomic.nonmetal{
  background-color: rgb(157, 255, 0);
}

.post-transition.metal{
  background-color: rgb(255, 136, 0);
}

.lanthanide{
  background-color: rgb(179, 179, 179);
}

.actinide{
  background-color: rgb(207, 207, 207);
}
